<%- include("includes/head") %>
  <link rel="stylesheet" href="/css/users.css">
</head>
<%- include("includes/navigation") %>
<body>
  <% if (users.length > 0) { %>
    <h1>All The Users List</h1>
  <ul>
    <% for(let user of users) { %>
    <li>user name:
      <%= user.username %>, user lastname:
      <%= user.lastname %>
    </li>
    <% } %>
  </ul>
  <% } else { %>
    <h2 align=center>Non Users Added Yet!</h2>
    <% }  %>

  <%- include("includes/end") %>